extends layout

block content
  h1 #{title}
  form(method='POST', action='/non_lexical_words/edit/'+non_lexical_word._id)
    #form-group
      label Word:
      input.form-control(name='word', type='text', value=non_lexical_word.word)
    br
    input.btn.btn-primary(type='submit',value='Submit')
