.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success_msg{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.floatleft {
    float:left;
}
.floatright {
    float:right;
}

ul.words-list {
    list-style: none;
    padding: 0;
    border-bottom: 2px ;
    border-top: 0px;
    height:30px;
}

li.words-list-element {
    display: inline;
    padding: 0 0.2em;
    border-left: 0px;
    line-height: 30px;
}
